<div class="content-area">

    <!-- PAGE -->
    <div id="preloader" *ngIf="isLoading">
        <div id="preloader-status">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
            <div id="preloader-title">{{ 'LOADING' | translate }}</div>
        </div>
    </div>
    <section class="page-section color">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="block-title">
                        <span>{{ 'REGISTER' | translate }}</span>
                    </h3>

                    <form  [formGroup]="contactForm" (ngSubmit)="register()" class="form-login">
                        <div class="row">                            
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="form-control" name="first_name" id="first_name" formControlName="first_name" type="text" placeholder="{{ 'FIRST_NAME' | translate }}">
                                </div>
                            </div>                        
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="form-control" name="family_name" id="family_name" formControlName="family_name" type="text" placeholder="{{ 'FAMILY_NAME' | translate }}">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="form-control" name="mobile" id="mobile" formControlName="mobile" type="text" placeholder="{{ 'MOBILE' | translate }}">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="form-control" name="email" type="email" formControlName="email" required placeholder="{{ 'EMAIL' | translate }}">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <select name="city_id" id="city_id" class="form-control" formControlName="city_id"  style="color: black" >
                                        <option [ngValue]="undefined" disabled  selected > {{ 'CITYTOWN' | translate }} </option>
                                        <option *ngFor=" let city of cities" value="{{city.id}}">{{city.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="form-control" name="address" id="address" formControlName="address" placeholder="{{ 'ADDRESS' | translate }}">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="form-control" name="password" id="password" type="password" formControlName="password" placeholder="{{ 'PASSWORD' | translate }}">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="form-control" name="password2" id="password2" type="password" formControlName="password2" placeholder="{{ 'CONFIRM_PASSWORD' | translate }}">
                                </div>
                            </div>
                            <div class="row" *ngIf="!flag">
                                <div class="col-md-12 col-lg-12 text-left-lg">
                                    <span style="color: red">
                                        <ul>
                                            <li *ngFor="let error of errorArray">{{error | translate}}</li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-theme btn-block btn-theme-dark" value="{{ 'CREATE_EF_ACCOUNT' | translate }}">
                            </div>
                            <!-- <div class="col-md-6 col-lg-6">
                                <button class="btn btn-theme btn-block btn-icon-left facebook" (click)="loginWithFB()"><i class="fa fa-facebook"></i>{{ 'SIGN_IN_WITH_FB' | translate }}</button>
                            </div> -->
                        </div>
                    </form>
                </div>
                <div class="col-sm-6">
                    <h3 class="block-title">
                        <span>{{ 'LOGIN' | translate }}</span>
                    </h3>
                    <form action="#" class="create-account">
                        <div class="row">                                               
                            <div class="col-md-6">
                                <a [title]="host + '/login'" class="btn btn-block btn-theme btn-theme-dark btn-create" routerLink="/login">{{ 'LOGIN' | translate }}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

   <promotion-boxes></promotion-boxes>

</div>