<!-- CONTENT AREA -->
<div [ngBusy]="busy"></div>
<div class="content-area">
    <section class="page-section">
        <div class="wrap container">
            <div class="row">
                <my-account-sidebar source="change-password"></my-account-sidebar>
                <!--start main contain of page-->
                <div class="col-lg-9 col-md-9 col-sm-8">
                    <div class="information-title">{{ 'MY_PROFILE'| translate }}</div>
                    <div class="details-wrap">
                        <div class="block-title">
                            {{ 'CHANGE_PASSWROD' | translate }}</div>
                        <div class="details-box">
                            <form class="form-delivery" action="#">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <input required="" name="password" type="password" [(ngModel)]="user.password" placeholder="{{ 'PASSWORD' | translate }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <input required="" type="password" name="password2" [(ngModel)]="user.password2" placeholder="{{ 'CONFIRM_PASSWORD' | translate }}"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <button class="btn btn-theme btn-theme-dark" (click)="submitUpdates()" type="submit">{{ 'CHANGE_PASSWROD' | translate }}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--end main contain of page-->
            </div>

        </div>
    </section>
</div>
<!-- /CONTENT AREA -->