.horizontal-item {
    margin-bottom: 10px;
}

.media-image {
    width: 100px;
}

.horizontal-item img {
    width: 100px;
}

.in-fav, .in-cart {
    background-color: #498dcb;
    color: #ffffff;
    opacity: 1;
    border-color: #498dcb;
}

.brand {
  font-size: 15px;
  color: #EC0231;
  font-weight: bold;
}

.pro-row-large {
    height: 420px;
}

.pro-row-small {
    height: 420px;
}

.pro-row-horizontal {
    height: 145px;
}

.how-much-sale {
    position: absolute;
    right: 0;
    z-index: 10;
    padding: 5px 10px;
    background-color: #EC0231;
    border-radius: 15px 0 15px 0px;
    color: #fff;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.product-icon {
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.caption-title {
    height: 50px;
}

.caption-company {
    height: 25px;
}

.brand-name{
    font-size: 12px;
}

.brand-name span {
    display: inline-block;
    border-bottom: 1px solid #eee;
    padding: 0 8px;
}

.decimal {
    position: relative;
    top: -7px;
}

.buttons {
    direction: ltr;
    text-align: left;
    background: #498dcb;
    float: left;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.btn-heart {
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 0;
    background: #EC0231;
}

.btn-cart {
    border-bottom-right-radius: 15px;
    border: 0;
    color: #fff;
}

.btn-cart .fa{
    margin-right: 7px !important;
    margin-left: 0 !important;
}

.btn-heart img{
    width: 22px;
}

.price div{
    height: 25px;
}
