<div class="content-area">
    <section class="page-section color">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="block-title"><span>{{ 'RESET_PASSWORD' | translate }}</span></h3>
                    <form action="#" class="form-login">
                        <div class="row">
                            <div class="col-md-12 hello-text-wrap">
                                <span class="hello-text text-thin">{{ 'ENTER_EMAIL_RESET_PASSWORD' | translate }}</span>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="form-control" name="email" type="text" [(ngModel)]="email" placeholder="{{ 'EMAIL' | translate }}"></div>
                            </div>
                            <div class="col-md-12 col-lg-12 text-right-lg">
                                <a class="forgot-password" [title]="host + '/login'" routerLink="/login">{{ 'HAVE_PASSWORD' | translate }}</a>
                            </div>
                            <div class="col-md-12 col-lg-12 text-left-lg">
                                <span style="color: red" >{{ txtLabel | translate }}</span>
                            </div>
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-theme btn-block btn-theme-dark" (click)="doReset()" value="{{ 'RESET' | translate }}">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6">
                    <h3 class="block-title"><span>{{ 'CREATE_EF_ACCOUNT' | translate }}</span></h3>
                    <form action="#" class="create-account">
                        <div class="row">
                            <div class="col-md-12 hello-text-wrap">
                                <span class="hello-text text-thin">{{ 'CREATE_EF_ACCOUNT' | translate }}</span>
                            </div>
                            <div class="col-md-6">
                                <a class="btn btn-block btn-theme btn-theme-dark btn-create" [title]="host + '/register'" routerLink="/regiter">{{ 'CREATE_EF_ACCOUNT' | translate }}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- /PAGE -->

    <!-- PAGE -->
    <!-- <section class="page-section">
        <div class="container">
            <div class="row blocks shop-info-banners">
                <div class="col-md-4">
                    <div class="block">
                        <div class="media">
                            <div class="pull-left"><i class="fa fa-gift"></i></div>
                            <div class="media-body">
                                <h4 class="media-heading">Buy 1 Get 1</h4>
                                Proin dictum elementum velit. Fusce euismod consequat ante.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block">
                        <div class="media">
                            <div class="pull-left"><i class="fa fa-comments"></i></div>
                            <div class="media-body">
                                <h4 class="media-heading">Call to Free</h4>
                                Proin dictum elementum velit. Fusce euismod consequat ante.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block">
                        <div class="media">
                            <div class="pull-left"><i class="fa fa-trophy"></i></div>
                            <div class="media-body">
                                <h4 class="media-heading">Money Back!</h4>
                                Proin dictum elementum velit. Fusce euismod consequat ante.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- /PAGE -->

</div>