<!-- CONTENT AREA -->
<div class="content-area">
    <section class="page-section">
        <div class="wrap container">
            <div class="row">
                <my-account-sidebar source="info"></my-account-sidebar>
                <!--start main contain of page-->
                <div class="col-lg-9 col-md-9 col-sm-8">
                    <div class="information-title">{{ 'MY_PROFILE'| translate }}</div>
                    <div class="details-wrap">
                        <div>
                            <h3>
                                <small>{{ 'WELCOME' | translate }}</small> {{ user.first_name }}</h3>
                        </div>
                        <div>
                            <ul>
                                <li>{{ 'MOBILE' | translate }}: {{ user.mobile }}</li>
                                <li>{{ 'EMAIL' | translate }}: {{ user.email }}</li>
                            </ul>
                        </div>


                        <!--div class="block-title alt">
                            <i class="fa fa-angle-down"></i>{{ 'PROFILE'| translate }}</div>
                        <div class="details-box">
                            <ul>
                                <li>
                                    <a href="accountinformation.html">{{ 'EDIT_PROFILE'| translate }}</a>
                                </li>
                                <li>
                                    <a href="cng-pw.html">{{ 'CHANGE_PASSWROD'| translate }}</a>
                                </li>
                                <li>
                                    <a href="address-book.html">{{ 'EDIT_ADDRESS'| translate }}</a>
                                </li>
                            </ul>
                        </div>

                        <div class="block-title alt">
                            <i class="fa fa-angle-down"></i> {{ 'MY_PROFILE'| translate }}</div>
                        <div class="details-box">
                            <ul>
                                <li>
                                    <a href="order-history.html">{{ 'ORDER_HISTORY'| translate }}</a>
                                </li>
                                <li>
                                    <a href="review-rating.html">{{ 'YOUR_REVIEWS_RATINGS'| translate }}</a>
                                </li>
                            </ul>
                        </div>

                        <div class="block-title alt">
                            <i class="fa fa-angle-down"></i> {{ 'NEWSLETTER'| translate }} </div>
                        <div class="details-box">
                            <ul>
                                <li>
                                    <a href="newsletter.html">{{ 'SUBSCRIBE_UNSUBCRIBE' | translate }} {{ 'NEWSLETTER'| translate }} </a>
                                </li>
                            </ul>
                        </div-->

                    </div>
                </div>
                <!--end main contain of page-->
            </div>

        </div>
    </section>
</div>
<!-- /CONTENT AREA -->