.main-slider{
    height: 375px;
    overflow: hidden;
}

.main-slider .item, 
.main-slider .owl-item{
    height: 375px;
}
.main-slider .thumbnail-image{
    height: 375px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:right;
    /* inline-block space fix */
    margin-right:-4px;
    /* text-align: center; */
}